body{
   
    text-align: center,right-margin=20%;
   background-image: linear-gradient(rgb(172, 64, 21),white);
    margin-left: 20%;
    margin-right:20%;
    
}

fieldset{
    background-image: linear-gradient(white);
 margin-left:15%;
    margin-right:15%;
    
}
fieldset{
background-image: linear-gradient(white);
}


    


    
